body {
    padding-top: 50px;
    padding-bottom: 40px;
}

.accordion-heading:hover
{
    background-color: #FFFAD9;
}
#add-chapter{
	display: none;
}

#div-add-title:hover{
	background-color: #333;
}

.bar-search{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 2% 0;
	margin-bottom: 10px;
}

.btn-search-child{
	margin-left: 0px;
}

.btn-create-course{
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	padding: 5px !important;
}

.btn-create-course:hover{
	color: #ffffff !important;
    background-color: #51a351 !important;
    *background-color: #499249 !important;
}

.content-hero-unit{
	margin-left: 0px;
}

.content-thumbnails ul li div.thumbnail{
	width: 320px;
}

.form-signin {
	max-width: 300px;
	padding: 0px 19px 20px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	        box-shadow: 0 1px 2px rgba(0,0,0,.05);
	}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.form-signin .input-prepend .add-on {
	height: 26px;
}

.form-search-home {
	margin: 0px;
}

.form-search-home input[type="text"]{
	font-size: 16px;
	height: auto;
	margin-bottom: 2px;
	padding: 7px 9px;
}
.form-search-home button{
	padding: 7px 10px;
}

.form-search-home .input-append, .input-prepend{
	margin-bottom: 0px;
}


.item-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.item-list>li {
	/*border: 1px solid #DDD;*/
	/*border-left-width: 3px;*/
	padding: 9px;
	background-color: #FFF;
	margin-top: -1px;
	position: relative;
}
.item-list>li.item-default {
	border-left-color: #abbac3;
}
.item-list>li.item-blue {
	border-left-color: #569add;
}
.item-list>li.item-orange {
	border-left-color: #eccb71;
}
.item-list>li.item-pink {
	border-left-color: #dd56c0;
}
.item-list>li.item-green {
	border-left-color: #9ecf6a;
}
.item-list>li.item-red {
	border-left-color: #e05656;
}
.item-list>li.item-grey {
	border-left-color: #999;
}

.ui-state-highlight { 
	background-color: #F6F698 !important; 
	height: 1.5em; 
	line-height: 1.2em; 
	border: dashed 1px gray; 
}

.modal-login{
	width: 280px;
	height: 250px;
	padding: 15px;
}
.row {
	margin-left: 0px;
}


.menu {
  /* dropdown in accordion */ 
}
.menu .accordion-heading {
	position: relative; 
}
.menu .accordion-heading .edit {
    position: absolute;
    top: 8px;
    right: 30px; 
}
.menu .application {
	border-left: 4px solid #f38787; 
}
.menu .gestureset {
	border-left: 4px solid #65c465; 
}
.menu .ponto {
	border-left: 4px solid #98b3fa; 
}
.menu .collapse.in {
	overflow: visible; 
}



.title-chapter{
	background-color: #666;
	color: #fff;
	margin-left: -9px;
	margin-right: -9px;
	margin-top: -9px;
	margin-bottom: 1px;
	padding: 10px;
	border-radius: 4px;
}
.title-lesson{
	background-color: #f38787;
	color: #fff;
	margin-left: -9px;
	margin-right: -9px;
	margin-bottom: -9px;
	padding: 10px;
	border-radius: 4px;
}
.lesson-content{
	background-color: #65c465;
	margin-top: 9px;
	padding: 10px;
}