body {
    padding-top: 50px;
    padding-bottom: 40px;
}

.btn-create-course{
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	padding: 5px !important;
}

.btn-create-course:hover{
	color: #ffffff !important;
    background-color: #51a351 !important;
    *background-color: #499249 !important;
}

.content-hero-unit{
	margin-left: 0px;
}

.content-thumbnails ul li div.thumbnail{
	width: 320px;
}

.form-signin {
	max-width: 300px;
	padding: 0px 19px 20px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	        box-shadow: 0 1px 2px rgba(0,0,0,.05);
	}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.form-signin .input-prepend .add-on {
	height: 26px;
}

.form-search-home {
	margin: 0px;
}

.form-search-home input[type="text"]{
	font-size: 16px;
	height: auto;
	margin-bottom: 2px;
	padding: 7px 9px;
}
.form-search-home button{
	padding: 7px 10px;
}

.form-search-home .input-append, .input-prepend{
	margin-bottom: 0px;
}

.bar-search{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 2% 0;
	margin-bottom: 10px;
}

.btn-search-child{
	margin-left: 0px;
}

.modal-login{
	width: 280px;
	height: 250px;
	padding: 15px;
}
.row {
	margin-left: 0px;
}