body {
    padding-top: 50px;
    /*padding-bottom: 40px;*/
}

.abortUploadVideo, .abortUploadPdf{
	display: none;
}

.accordion-heading:hover
{
    background-color: #FFFAD9;
}
#add-chapter{
	display: none;
}
.add-lesson{
	display: none;
}
#div-add-title:hover{
	background-color: #333;
}
.div-add-lesson:hover{
	background-color: #333;
}
.add-quiz{
	display: none;
}
#div-add-quiz:hover{
	background-color: #333;
}
.div-add-quiz:hover{
	background-color: #e5e5e5;
}



.bar-search{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 2% 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

.btn-search-child{
	margin-left: 0px;
}

.btn-create-course{
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	padding: 2px !important;
	margin-top: 2px;
}

.btn-create-course:hover{
	color: #ffffff !important;
    background-color: #51a351 !important;
    *background-color: #499249 !important;
}

.btnDeleteChapter{
	text-align: right !important;
}

.btns-list-my-courses{
	text-align: right;
}

.box-content{
	margin-top: 9px;
	text-align: center;
	background-color: #ededed;
}
.box-content-hidden{
	display: none;
}
.box-content{
	padding: 5px;
	padding-right: 0px;
	margin: 0px;
}

.box-title{
	width: 30%;
	height: 32px;
	background-color: #ededed;
	margin-top: -37px;
	margin-bottom: 5px;
	float: right;
	font-weight: bold;
	border-radius: 0 3px 0 0;
	line-height: 2;
}
.box-title div{
	display: inline-block;
	float: right;
	text-align: right;
	padding-right: 2px;
}
.box img{
	margin-left:5px;
	margin-right: 5px; 
	opacity: 0.6;
}
.box img:hover{
	opacity: 1;
}

.box .more a{
	margin-right: 5px;
}

.btn-register{
	width: 100%;
}

.btnAddLesson{
	margin-right: 3px;
}

.content-hero-unit{
	margin-left: 0px;
}

.content-thumbnails ul li div.thumbnail{
	width: 320px;
}

.content-btns-bottom{
	margin-top: 5px;
}
.content-btns-bottom-questions{
	text-align: center;
}

.container-top{
	/*background-image: url(../img/bg-4.jpg);*/
	/*background-repeat: no-repeat;*/
	/*background-position: left top;*/
	min-height: 480px;
	margin-top: -5px;

	background: fixed;
	background-color: #efefef;
	background-image: -webkit-radial-gradient(center 350px, circle, rgba(255, 255, 255, 0.95) 20px, rgba(240, 240, 240, 0.95) 450px, rgba(120, 120, 120, 0.98) 1200px), url('../img/stars.png');
	background-image: -moz-radial-gradient(center 350px, circle, rgba(255, 255, 255, 0.95) 20px, rgba(240, 240, 240, 0.95) 450px, rgba(120, 120, 120, 0.98) 1200px), url('../img/stars.png');
	background-image: -o-radial-gradient(center 350px, circle, rgba(255, 255, 255, 0.95) 20px, rgba(240, 240, 240, 0.95) 450px, rgba(120, 120, 120, 0.98) 1200px), url('../img/stars.png');
	background-image: -ms-radial-gradient(center 350px, circle, rgba(255, 255, 255, 0.95) 20px, rgba(240, 240, 240, 0.95) 450px, rgba(120, 120, 120, 0.98) 1200px), url('../img/stars.png');
	background-image: radial-gradient(center 350px, circle, rgba(255, 255, 255, 0.95) 20px, rgba(240, 240, 240, 0.95) 450px, rgba(120, 120, 120, 0.98) 1200px), url('../img/stars.png');
}

.chapter-hidden, .lesson-hidden{
	display: none;
}


.chapter-edit-hidden, .chapter-bull-down-hidden, .lessons-hidden,.newLesson-hidden, .lesson-edit-hidden,
.quizzes-hidden,.newQuiz-hidden, .quiz-edit-hidden{
	display: none;
}

.chapter-title-edit{
	background-color: #666;
	color: #fff;
	margin-left: -9px;
	margin-right: -9px;
	margin-top: -9px;
	margin-bottom: 1px;
	padding: 10px;
	border-radius: 4px;
}

.chapter-order,.lesson-order{
	margin-right: 5px;
	font-weight: bold;
}

.icon-spinner-custom{
	margin-left: 5px;
}

.form-signin {
	max-width: 300px;
	padding: 0px 19px 20px;
	margin: 0 auto 20px;
	/*background-color: #fff;*/
	/*border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	        box-shadow: 0 1px 2px rgba(0,0,0,.05);*/
	}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
	font-size: 18px;
	height: 45px;
	margin-bottom: 18px;
	padding: 7px 9px;
}

.form-signin .input-prepend .add-on {
	height: 30px;
}
.form-signin .input-prepend{
	display: block;
}

.form-search-home {
	margin: 0px;
}

.form-search-home input[type="text"]{
	font-size: 16px;
	height: auto;
	margin-bottom: 2px;
	padding: 7px 9px;
}
.form-search-home button{
	padding: 7px 10px;
}

.form-search-home .input-append, .input-prepend{
	margin-bottom: 0px;
}

.dropdown-menu-user-perfil{
	padding: 20px;
	background: fixed;
	border-radius: 5px;
	background-color: #efefef;
	background-image: -webkit-radial-gradient(center 350px, circle, rgba(255, 255, 255, 0.95) 20px, rgba(240, 240, 240, 0.95) 450px, rgba(120, 120, 120, 0.98) 1200px), url('../img/stars.png');
	background-image: -moz-radial-gradient(center 350px, circle, rgba(255, 255, 255, 0.95) 20px, rgba(240, 240, 240, 0.95) 450px, rgba(120, 120, 120, 0.98) 1200px), url('../img/stars.png');
	background-image: -o-radial-gradient(center 350px, circle, rgba(255, 255, 255, 0.95) 20px, rgba(240, 240, 240, 0.95) 450px, rgba(120, 120, 120, 0.98) 1200px), url('../img/stars.png');
	background-image: -ms-radial-gradient(center 350px, circle, rgba(255, 255, 255, 0.95) 20px, rgba(240, 240, 240, 0.95) 450px, rgba(120, 120, 120, 0.98) 1200px), url('../img/stars.png');
	background-image: radial-gradient(center 350px, circle, rgba(255, 255, 255, 0.95) 20px, rgba(240, 240, 240, 0.95) 450px, rgba(120, 120, 120, 0.98) 1200px), url('../img/stars.png');

}

.dropdown-menu-user-perfil li a{
	font-size: 15px;
}

.item-list-custom {
	margin: 0;
	padding: 0;
	list-style: none;
}

.item-list-custom>li {
	/*border: 1px solid #DDD;*/
	/*border-left-width: 3px;*/
	padding: 6px;
	background-color: #FFF;
	margin-top: 0px;
	position: relative;
}
.item-list-custom>li.item-default {
	border-left-color: #abbac3;
}
.item-list-custom>li.item-blue {
	border-left-color: #569add;
}
.item-list-custom>li.item-orange {
	border-left-color: #eccb71;
}
.item-list-custom>li.item-pink {
	border-left-color: #dd56c0;
}
.item-list-custom>li.item-green {
	border-left-color: #9ecf6a;
}
.item-list-custom>li.item-red {
	border-left-color: #e05656;
}
.item-list-custom>li.item-grey {
	border-left-color: #999;
}

.img-user-avatar{
	width: 24px;
	height: 24px;
}


.quizzes > li {
	padding: 3px;
}
.quiz-content{
	text-align: left;
}
.quiz-content>p{
	margin-top: 3px;
	margin-bottom: 3px;
	font-weight: bold;
	color: #616060;
}
.quiz-bull-down-hidden{
	display: none;
}
.questions > li{
	margin: 0px;
}

.ui-state-highlight { 
	background-color: #F6F698 !important; 
	height: 1.5em; 
	line-height: 1.2em; 
	border: dashed 1px gray; 
}

.modal-login{
	width: 280px;
	height: 250px;
	padding: 15px;
}
.row {
	margin-left: 0px;
}


.menu {
  /* dropdown in accordion */ 
}
.menu .accordion-heading {
	position: relative; 
}
.menu .accordion-heading .edit {
    position: absolute;
    top: 8px;
    right: 30px; 
}
.menu .application {
	border-left: 4px solid #f38787; 
}
.menu .gestureset {
	border-left: 4px solid #65c465; 
}
.menu .ponto {
	border-left: 4px solid #98b3fa; 
}
.menu .collapse.in {
	overflow: visible; 
}


.modal.pdf-preview-modal {
    width: 80%; /* respsonsive width */
    height: 80%;
    margin-left:-40%; /* width/2) */
	max-height: 800px;
}
.modal.video-preview-modal {
    width: 60%; /* respsonsive width */
    margin-left:-30%; /* width/2) */
	max-height: 800px;
}

.modal.video-preview-modal .modal-close-boton{
	padding: 0px !important;
	background: #333;
	margin-top: -5px;
	text-align: right;
}

.newChapter li .title-chapter{
	padding: 5px;
}

.newLesson li .title-lesson{
	padding: 5px;
	margin-bottom: -4px;
	margin-left: -3px;
	margin-right: -3px;
}
.newQuiz li .title-quiz{
	padding: 5px;
	margin-bottom: -4px;
	margin-left: -3px;
	margin-right: -3px;
}

.title-chapter{
	background-color: #666;
	color: #fff;
	margin-left: -9px;
	margin-right: -9px;
	margin-top: -9px;
	margin-bottom: 0px;
	padding: 3px;
	border-radius: 4px;
	padding-left: 3px;
}

.title-chapter .span6, .title-lesson .span6{
	line-height: 2;
}

.title-chapter .btns-right, .title-lesson .btns-right, .title-quiz .btns-right{
	text-align: right;
}

.title-lesson{
	background-color: #438eb9;
	color: #fff;
	/*margin-left: -9px;
	margin-right: -9px;*/
	margin-bottom: -2px;
	padding: 2px;
	border-radius: 4px;
	padding-left: 3px;
}
.title-quiz{
	background-color: #d6d6d6;
	color: #333;
	/*margin-left: -9px;
	margin-right: -9px;*/
	margin-bottom: -2px;
	padding: 2px;
	border-radius: 4px;
	padding-left: 3px;
}
.title-question{
	/*background-color: #d6d6d6;*/
	color: #333;
	/*margin-left: -9px;
	margin-right: -9px;*/
	margin-bottom: -2px;
	padding: 2px;
	padding-left: 3px;
}
.type-description{
	margin-left: 6px;
}

.lesson-content{
	background-color: #65c465;
	margin-top: 9px;
	padding: 10px;
}
.lesson-title-edit{
	background-color: #438eb9;
	color: #fff;
	/*margin-left: -9px;
	margin-right: -9px;
	margin-bottom: 1px;*/
	padding: 10px;
	border-radius: 4px;
}
.lesson-bull-down-hidden{
	display: none;
}
.lessons li .box-content .box .wysiwyg-editor{
	width: 95%;
	height: 100%;
	min-height: 250px;
	max-height: 100%;
}
.lessons > li {
	padding: 3px;
}

.lessons li .box-content .box .wysiwyg-toolbar{
	width: 95%;
}
.progress-upload-video, .progress-upload-pdf{
	text-align: center;
	height: 30px;
	margin-bottom: 0px;
}
.progress-upload-pdf{
	margin-top: 10px;
}
.progress-upload-video .bar, .progress-upload-pdf .bar{
	text-align: center;
	font-weight: bold;
	line-height: 2;
}
.pdf-preview{
	width: 100%;
	height: 100%;
	margin: 2px; 
}
.remove-chapter{
	display: inline-block;
	width: 70%;
	text-align: right;
}
.remove-lesson{
	display: inline-block;
	width: 70%;
	text-align: right;
}
.single-item, .more{
	text-align: left;
	margin: 0px !important;  
	padding-right: 5px !important;
}
.single-item .span6 img{
	float: left;
}
.single-item .span6 p{
	display: inline-block;
	float: left;
	padding-top: 5px;
}
.video_file_name, .pdf_file_name{
	text-align: right;
}
.text-editor-questions{
	height: 100px;
}
.top-bar-home{
	/*min-height: 60px !important;*/
}
.vf_checks-edit label span{
	font-size: 12px !important;
	font-weight: bold !important;
	color: #333;
}